name: RTOS C++ CI
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build
        run: |
          mkdir build && cd build
          cmake ..
          make
      - name: Run
        run: timeout 5s ./build/rtos_demo || [[ $? -eq 124 ]]